<div class="container-fluid category-wrapper">
    <div class="row banner-place">
        <div class="text">
            <h6>Produits Cosmetiques </h6>

        </div>


    </div>
    <div class="text-area">
        <h6  >DECOUVREZ NOS DIFFERENTS PRODUITS </h6>
    </div>

    <div class="row">

        <div class="col-2 ">
            <div class="row d-block" >
            <li class="title"><a >Marques </a></li>
            <li><a >Marque x</a></li>
            <li><a >Marque x</a></li>
            <li><a >Marque x</a></li>
            <li><a >Marque x</a></li>
            </div>
            <div class="row d-block" >
                <li class="title"><a > Marques </a></li>
                <li><a >Marque x</a></li>
                <li><a >Marque x</a></li>
                <li><a >Marque x</a></li>
                <li><a >Marque x</a></li>
                </div>

                <div class="row d-block" >
                    <li class="title"><a >En PROMO</a></li>
                    <li><a >Marque x</a></li>
                    <li><a >Marque x</a></li>
                    <li><a >Marque x</a></li>
                    <li><a >Marque x</a></li>
                    </div>
        
    

        </div>
        <!--------------------------------->
        <div class="col-10  layout-prod">
            <div class="row d-flex">
                <app-product-card-model></app-product-card-model> 
                <app-product-card-model></app-product-card-model> 
                <app-product-card-model></app-product-card-model> 
                <app-product-card-model></app-product-card-model> 
            </div>
           
            <div class="row d-flex">
                <app-product-card-model></app-product-card-model> 
                <app-product-card-model></app-product-card-model> 
                <app-product-card-model></app-product-card-model> 
                <app-product-card-model></app-product-card-model> 
            </div>
            

            <div class="pagination-block">
                <div class="pagination">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                  </div>

            </div>
           
            
              
            
        
           
        <!-------------------------------->
        
</div>

