<nav id="navbar" style="height:60px; " class="justify-content-center"  >  
    <ul >  
        
        
        <li class="drop-down">
          <a href="" class="drop-btn">SOIN DE BEAUTE</a>
          <div class="drop-downcontent">
            <a >Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
          </li>
          <li class="drop-down">
            <a href="" class="drop-btn" routerLink="/category">BEBE MAMAN</a>
            <div class="drop-downcontent">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
            </li>
            <li class="drop-down">
              <a href="" class="drop-btn" routerLink="/category">BEBE MAMA</a>
              <div class="drop-downcontent">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
              </div>
              </li>
          <li class="drop-down">
            <a href="" class="drop-btn" routerLink="/category">PRODUITS MINCEUR</a>
            <div class="drop-downcontent">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
        </li>
        <li class="drop-down" >
          <a href="" class="drop-btn" routerLink="/category" >BIO &   NATUREL</a>
          <div class="drop-downcontent">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
      </li>
      
    
  
      </ul>
      
  
  </nav>
      

