<div class="header container-fluid" style="height: 80px;" >
    <div class="row" >
        <div class="col-3">
            <h2>Mon logo</h2>
            </div>
        
        <div class="col-9">
            
           
                <div class="row d-flex  icons-block" >
          
                  <div class="col d-flex">
                    
                    <input type="text" placeholder="Rechercher un produit" class="search drop-btn"><button class="btnstyles searchtext"><p >RECHERCHER</p></button>
               
             
                  </div>               
                         
                   
                 
                <div class="col">
                  <button class="btnstyles drop-btn d-flex justify-content-center align-items-center" routerLink="/panier"><i class="ri-shopping-cart-2-line ri-xl"></i><P>PANIER</P> </button>
                </div>
                <div class="col">
                    <button class="btnstyles drop-btn d-flex justify-content-center align-items-center"><i class="ri-heart-line ri-xl"></i><P>FAVORIS</P></button>
                  </div>
                  <div class="col">
                    <li class="drop-down">
                      <button class="btnstyles account drop-btn d-flex  align-items-center drop-down"><i class="ri-user-line ri-xl"></i> <P>MON COMPTE</P></button>
                    <div class="drop-downcontent">
                      <a  data-toggle="modal" data-target=".bs-modal-sm">SE CONNECTER</a>
                      <a data-toggle="modal" data-target=".bs-modal-sm">S'INSCRIRE</a>
                      <a  routerLink="/useraccount">MON COMPTE</a>
                    </div>
                </li>
                </div> 
                  
                  
                 
                </div>
                
               
               
               
            
        </div>
    </div>
</div>
