table{ width: 100%;
    box-shadow: none;}
    .headtable{
        background-color: #EFEFEF;
    }
    .imgp{
        width:20%;
        height: 80px;
    }
    img{
        width:100%;
        
    }
    h5{
        color:orangered;
    }
    .clearicon{
        color:orangered;
    }
    button{ border:none}
    .navigate{width:240px;
       
        
        background-color: #ffb26b;height: 30px;}
        .command{width:240px;
            height: 40px;
            padding: 5px 10px;
           
        background-color: #EC5615} 
    .orderfooter{
        margin-top:30px
    }
    .btnstyles{background-color:#EC5615;
        height:28px;
        width:50px;
        margin-left :5px
        
    
    }
    .search{width: 150px;}
    .panierheader{
        border-top:1px solid black;
        
        text-align:center;
        padding:5px;
        height: 50px;
        padding-top:20px;
        margin-bottom:20px
    }
   p,h6, h2{color:white}
   p{line-height: 0%;}
   .summuryheader{background-color: black;}
   .headertext{
       text-align: center;
       margin-top: 20px ;
   }
   h6{text-align: center;}
   .cpblock{
       margin: 10px 30px
       
   }
   .command{
       
      margin:10px 30px ;
      width: 210px;
   }
   input{
       width:400px
   }