<div class="row justify-content-center" stylé="margin-top:20px;">
	<div class="slider-box "  >
		<p class="time">New</p>
		<button class="favorite"><i class="ri-heart-line ri-2x"style="color:black" ></i></button>

		<div class="img-box">
		<img src="assets/images/newmage.png">
		</div>
		<p class="detail">Black ladies bags collections
		<a href="#" class="price">Price-40DT</a>
		</p>
		<div class="pow d-flex justify-content-between" style="width:100%">
			<div class="cart">
			<a href="#"><h5 style="color:black">Acheter</h5></a>
			</div>
		   
			</div>
		</div>
		<!------------------------------>
		
			<!-------------------------------------->
			<div class="slider-box "  >
				<p class="time">New</p>
				<button class="favorite"><i class="ri-heart-line ri-2x"style="color:black" ></i></button>

				<div class="img-box">
				<img src="assets/images/newmage3.jpg">
				</div>
				<p class="detail">Black ladies bags collections
				<a href="#" class="price">Price-40DT</a>
				</p>
				<div class="pow d-flex justify-content-between" style="width:100%">
					<div class="cart">
					<a href="#"><h5 style="color:black">Acheter</h5></a>
					</div>
				   
					</div>
				</div>
			<!----------------------------------------->
			<div class="slider-box "  >
				<p class="time">New</p>
				<button class="favorite"><i class="ri-heart-line ri-2x"style="color:black" ></i></button>

				<div class="img-box">
				<img src="assets/images/newmage4.jpg">
				</div>
				<p class="detail">Black ladies bags collections
				<a href="#" class="price">Price-40DT</a>
				</p>
				<div class="pow d-flex justify-content-between" style="width:100%">
					<div class="cart">
					<a href="#"><h5 style="color:black">Acheter</h5></a>
					</div>
				   
					</div>
					</div>
				<!---------------------------------------->
				<div class="slider-box "  >
					<p class="time">New</p>
					<button class="favorite"><i class="ri-heart-line ri-2x" ></i></button>
					<div class="img-box">
					<img src="assets/images/newmage1.png">
					</div>
					<p class="detail">Black ladies bags collections
					<a href="#" class="price">Price-40DT</a>
					</p>
					<div class="pow d-flex justify-content-between" style="width:100%">
						<div class="cart">
						<a href="#"><h5 style="color:black">Acheter</h5></a>
						</div>
					   
						</div>
					</div>
</div>
		
	

