<div class="containerbox container-fluid" style="height: auto;border:2px solid red">
    <div class="row account-title">
        <h2>ACCOUNT SETTINGS</h2>
    </div>
    <div class="row">
        <div class="col-3 md-4 paramlist ">

            <div class="  boxbox" >

            <div class="  paramhead " >
                <img src="/assets/icons/usericon.jpg"style=" height:150px;width:120px;
                border-radius:50%;">
            </div>
            
        <!--------new-------->
        <div class="   menu-box  "  >
            <div class="  nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              
              <button class="menu-item" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true"><i class="ri-user-line ri-xl"></i> MON PROFIL</button>
             
              <button class="menu-item"id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><i class="ri-shopping-bag-line ri-xl"></i> COMMANDES</button>
              <button class="menu-item"id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><i class="ri-chat-2-line ri-xl"></i> MESSAGERIE</button>
              
              <button class="menu-item"id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><i class="ri-heart-line ri-xl"></i> MA WISHLIST</button>
            </div>
         </div>  
         </div>
         </div> 
        <!----------------->
        <div class="col-8 content-list">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">...</div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"><app-order-model></app-order-model></div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"><app-chatbox></app-chatbox></div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
              </div>
            </div>
            </div>
          







        

    </div>





