<div class="swiperwrap container-fluid" >
 

    <swiper class="container-fluid"  
        [slidesPerView]="4"
        [spaceBetween]="30"
        [freeMode]="true"
        [pagination]="{
          clickable: true
        }"
        class="mySwiper"
      >
        <ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template
        ><ng-template swiperSlide><app-product-card-model></app-product-card-model></ng-template>
      </swiper>
