<div class="container-fluid d-block brandnat-wrapper" >
    <div class="row ">
        <div class="col content">
           <div class="img-box">
               <img src="assets/icons/fast-delivery.png">
            </div> 
            <h6> LIVRAISON RAPIDE</h6>
            
        </div>
        <div class="col-3 content">
          <div class="img-box">  <img src="assets/icons/handshake.png">
          </div>
          <h6>PROGRAMME DE FIDELITE</h6>
        
        </div>
        <div class="col-3 content">
          <div class="img-box">  <img src="assets/icons/credit-card.png">
          </div> 
           <h6>PAIEMENT SECURISE</h6>

        
        </div>
        <div class="col-3 content">
          <div class="img-box">  <img src="assets/icons/support.png">
          </div>
            <h6>SERVICE  CLIENT</h6>
       
        </div>
    </div>
</div>


