<div class="container-fluid justify-content-center " style="height:100px;background-color:#3edbf0;">
    <h1>PHARMASTORE</h1>
    </div>
    <div class="submenu container-fluid">





    </div>


    <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
        <li  role="presentation">
          <button class="nav-link " id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"  role="tab" aria-controls="pills-profile" aria-selected="true">  Profile  </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-command-tab" data-bs-toggle="pill" data-bs-target="#pills-command"  role="tab" aria-controls="pills-command" aria-selected="false">  Commande   </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-messages-tab" data-bs-toggle="pill" data-bs-target="#pills-messages"  role="tab" aria-controls="pills-messages" aria-selected="false">  Messages  </button>
          
         
        </li>
        <li class="nav-item" role="presentation">
            
            <button class="nav-link" id="pills-wishlist-tab" data-bs-toggle="pill" data-bs-target="#pills-wishlist"  role="tab" aria-controls="pills-wishlist" aria-selected="false"> wishlist   </button>
           
          </li>
      </ul>
      
      <div class="row infotab" >
        <div class="col-2">

            <div class="row profile" >
                <img src="/assets/images/lotion3.png" style=" height:100px;width:100px;
                    border-radius:50%;background-color: #3edbf0;">
                    <p>SORO SIELLE<BR> MARCK YVAN</p>
            </div>

        </div>
        <div class="col-8">
          <div class="row">
            <table class="table table-bordered">
                <thead>
                  <tr>
                  
                    <th scope="col-2">8</th>
                    <th scope="col-2">2</th>
                    <th scope="col-2">4</th>
                    <th scope="col-2"> 5</th>
                    <th scope="col"> 5</th>
        
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   
                    <td>Total Commande</td>
                    <td>Commande en cours</td>
                    <td>Messages </td>
                    <td>Produits favoris </td>
                    <td>Coupons</td>
    
                  
                  </tr>
                  
                </tbody>
              </table>
           </div> 
           <div class="row">
            <div class="tab-content" id="pills-tabContent">

              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
              <div class="tab-pane fade show active" id="pills-command" role="tabpanel" aria-labelledby="pills-command-tab"><app-order-model></app-order-model></div>        
              <div class="tab-pane fade" id="pills-messages" role="tabpanel" aria-labelledby="pills-messages-tab"><app-chatbox></app-chatbox></div>
               <div class="tab-pane fade" id="pills-wishlist" role="tabpanel" aria-labelledby="pills-wishlist-tab">...</div>
            </div>
      
           </div>
        </div>


    </div>

      
<!---------------------------------->

<div class="user-header d-block container" style="box-shadow:5px solid black;border:1px solid black" >
  
    <div class="row" >
       
    </div>
    </div>


<!---------------------------

-->

<!--------------------------------------
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical" >
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><h5>MON PRROFIL</h5></button>
        <button class="nav-link active" id="v-pills-command-tab" data-bs-toggle="pill" data-bs-target="#v-pills-command" type="button" role="tab" aria-controls="v-pills-command" aria-selected="true"><h5>COMMANDES</h5></button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false"><h5>MESSAGES</h5></button>
        <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false"><h5>ACTIVITES</h5></button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
      <div class="tab-pane fade show active" id="v-pills-command" role="tabpanel" aria-labelledby="v-pills-command-tab">...
       
          
      </div>
      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
    </div>
  </div>
---------------------------------->



